<!DOCTYPE html>


<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Welcome | Casa de Iligan </title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css')}}">
	<link rel="stylesheet" href="../static/style.css">
</head>

<body>
<center>

<!--  Navigation Pane -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <div class="navbar-header">
    	<a class="navbar-brand" href="/">
		<img src="../static/logo.jpg">
		</a>
    </div>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
      	<div class="searchbar">
    	<form class="example" action="action_page.php">
  		<input type="text" placeholder="  Search . . ." name="search">
  		<button type="submit" class="btn btn-outline-primary navbar-btn btn-md"><i class="fa fa-search"></i></button>
		</form>
    </div>
      </li>
      <li class="nav-item active">
      	<a class="nav-link" href="#">Home </a></li><span class="caret"></span>
      <li class="nav-item">
      	<a class="nav-link" href="#">Contact Us </a></li><span class="caret"></span>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"> Types of Homes </a>
        <ul class="dropdown-menu">
          <li class="nav-item"><a class="nav-link" href="#">Transient House </a></li>
          <li class="nav-item"><a class="nav-link" href="#">Apartment </a></li>
          <li class="nav-item"><a class="nav-link" href="#"> Boarding House</a></li>
        </ul>
      </li>
    </ul>
    <a href="registration.html"><button class="btn btn-outline-success navbar-btn btn-md">Register</button></a>
    
  </div>
</nav><!-- End of Nav -->




<div class="container-fluid">
<div class="row">
	<div class="col-md-8">
	
	<div id="slides" class="carousel slide" data-ride="carousel">
	<ul class="carousel-indicators">
	<li data-target="#slides" data-slide-to="0" class="active"></li>
	<li data-target="#slides" data-slide-to="1" ></li>
	<li data-target="#slides" data-slide-to="2" ></li>
	<li data-target="#slides" data-slide-to="3" ></li>
	</ul>	
	<div class="carousel-inner" >
	<div class="carousel-item active" >
		
		<img src="../static/carousel-01.jpeg">

		<div class="carousel-caption">
			<h2 class="display-2"> WELCOME </h2>
			<h3 class="display-2">Casa de Iligan </h3>
		</div>
	</div>
	<div class="carousel-item">
		
		<img src="../static/carousel-02.jpg">

		<div class="carousel-caption">
			<h4 class="display-2"> Transient Houses </h4>
			<button type="button" class="btn btn-info btn-lg" onclick="window.location.href='/transient'"> Learn More </button>
		</div>
	</div>
	<div class="carousel-item">
		
		<img src="../static/carousel-03.jpg">

		<div class="carousel-caption">
			<h4 class="display-2"> Dormitories </h4>
			<button type="button" class="btn btn-info btn-lg" onclick="window.location.href='/dorm'"> Learn More </button>
			
		</div>
	</div>

	<div class="carousel-item">
		

		<img src="../static/carousel-04.jpeg">

		<div class="carousel-caption">
			<h4 class="display-2"> Apartments </h4>
			<button type="button" class="btn btn-info btn-lg" onclick="window.location.href='/apartment'"> Learn More </button>
			
		</div>
	</div>

	</div>
	</div>

	<div class=" jumbotron">
		<div class="col-xs-12 col-sm-12 col-md-9 col-xl-10">
			<p class="lead">Casa de Iligan is an online marketplace and hospitality service, enabling people to lease or rent short-term lodging including vacation rentals, apartment rentals, homestays, hostel beds, or hotel rooms within the City of Iligan. </p>
		</div>
		
	</div>


</div>

<div class="col-md-4">
	
	<div class="login">
			<div class="login-head">
			<br><hr>
			<h5>Login Credentials</h5>
			
			<hr>
			</div>

			<div class="login-field">
			<form action="{{url_for('login')}}" method = "post">
				<label id="username">Username :</label>
          		<input type="text" name = "user" placeholder="  Ex. Juan96" align="left" required> <br>
          		<label id="password-input-field" >Password :</label>
          		<input type="password" name = "pass" align="left" required> <br>
          		<button type="button" class="btn btn-outline-info btn-sm" onclick="window.location.href='/apartment'"> Sign in </button>
          		
			</form>
			</div>
	</div>

	
</div>


</div>
</div>

<div class="container-fluid padding">
	<div class="row padding">
		<div class="col-md-4">
			<div class="card">
				<img class="card-img-top" id="card-img-home" src="../static/card-01.jpg">
				<div class="card-body">
					<h4 class="card-title">Transient Houses</h4><br>
					<p class="card-text"> Transient Houses offer self-catering studios and apartments with free WiFi. </p><br>
					
					
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<img class="card-img-top" id="card-img-home" src="../static/card-02.jpg">
				<div class="card-body">
					<h4 class="card-title">Apartments</h4><br>
					<p class="card-text"> A suite of rooms forming one residence, typically in a building containing a number of these..</p>
					<p>A large building containing residential suites; an apartment building.</p>
					
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<img class="card-img-top" id="card-img-home" src="../static/card-03.jpg">
				<div class="card-body">
					<h4 class="card-title">Boarding Houses</h4><br>
					<p class="card-text"> A large bedroom for a number of people in a school or institution..</p>
					<p>A university or college hall of residence or hostel.</p>
					
				</div>
			</div>
		</div>
	</div>
</div>

</body>

<footer>
	<div class="container-fluid padding">
		<div class="row text-center">
			<div class="col-12">
				<hr class="light-100">
				<h5>&copy; Casa de Iligan</h5>
				<hr class="light-100">
			</div>
		</div>
	</div>
</footer>

</html>