<!DOCTYPE html>


<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Homepage | Casa de Iligan </title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css')}}">
	<link rel="stylesheet" href="../static/style.css">
</head>

<body>
<center>
<!--  Navigation Pane -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
	<img src="../static/logo.jpg">
	</a>
    </div>

	<div class="searchbar">
    	<form class="example" action="action_page.php">
  		<input type="text" placeholder="  Search . . ." name="search">
  		<button type="submit"><i class="fa fa-search"></i></button>
		</form>
    </div>

	<ul class="navbar-nav ml-auto">
	
	<li class="nav-item">
		<a  href="registration.html"><button class="btn btn-outline-success navbar-btn">My Account</button></a>
	</li>

	<li class="nav-item">
		<button class="btn btn-outline-success navbar-btn"><i class="fa fa-envelope"></i></button>
	</li>

	</ul>  

  </div>
</nav> <!-- End of Nav -->

<!--
<div class="row padding ">
		<div class="col-md-8">
			<div class="box-img">
				<img src="../static/default-img.png">
			</div>
		</div>			
		
		<div class="col-md-4">
			

			<div class="owner-box">
			<a href="">Notifications</a><br>
			<a href="">Profile</a><br>
			<a href="">Help</a>
			</div>
			
		</div>
		
	</div>
-->
	


<div class="container-fluid padding">

	
	
	<div class="card-container ">
	<div class="row padding card-boundary">
		<div class="col-md-3">
			<div class="card">
				<img class="card-img-top" src="../static/transient.png">
				<div class="card-body">
					<h4 class="card-title">Transient Houses</h4>
					
					<a href="#" class="btn btn-outline-secondary">Browse</a>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card">
				<img class="card-img-top" src="../static/apartment.jpg">
				<div class="card-body">
					<h4 class="card-title">Apartments</h4>
					
					<a href="#" class="btn btn-outline-secondary">Browse</a>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card">
				<img class="card-img-top" src="../static/boarding.jpg">
				<div class="card-body">
					<h4 class="card-title">Boarding Houses</h4>
					
					<a href="#" class="btn btn-outline-secondary">Browse</a>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card">
				<img class="card-img-top" src="../static/boarding.jpg">
				<div class="card-body">
					<h4 class="card-title">Boarding Houses</h4>
					
					<a href="#" class="btn btn-outline-secondary">Browse</a>
				</div>
			</div>
		</div>

	</div>
	<a href=""><button class="btn btn-outline-info btn-lg">Show More</button></a>
	</div>
	

	<div class="card-container ">
	<div class="row padding card-boundary">
		<div class="col-md-3">
			<div class="card">
				<img class="card-img-top" src="../static/transient.png">
				<div class="card-body">
					<h4 class="card-title">Transient Houses</h4>
					
					<a href="#" class="btn btn-outline-secondary">Browse</a>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card">
				<img class="card-img-top" src="../static/apartment.jpg">
				<div class="card-body">
					<h4 class="card-title">Apartments</h4>
					
					<a href="#" class="btn btn-outline-secondary">Browse</a>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card">
				<img class="card-img-top" src="../static/boarding.jpg">
				<div class="card-body">
					<h4 class="card-title">Boarding Houses</h4>
					
					<a href="#" class="btn btn-outline-secondary">Browse</a>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card">
				<img class="card-img-top" src="../static/boarding.jpg">
				<div class="card-body">
					<h4 class="card-title">Boarding Houses</h4>
					
					<a href="#" class="btn btn-outline-secondary">Browse</a>
				</div>
			</div>
		</div>

	</div>
	<a href=""><button class="btn btn-outline-info btn-lg">Show More</button></a>
	</div>

	<div class="card-container ">
	<div class="row padding card-boundary">
		<div class="col-md-3">
			<div class="card">
				<img class="card-img-top" src="../static/transient.png">
				<div class="card-body">
					<h4 class="card-title">Transient Houses</h4>
					
					<a href="#" class="btn btn-outline-secondary">Browse</a>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card">
				<img class="card-img-top" src="../static/apartment.jpg">
				<div class="card-body">
					<h4 class="card-title">Apartments</h4>
					
					<a href="#" class="btn btn-outline-secondary">Browse</a>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card">
				<img class="card-img-top" src="../static/boarding.jpg">
				<div class="card-body">
					<h4 class="card-title">Boarding Houses</h4>
					
					<a href="#" class="btn btn-outline-secondary">Browse</a>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card">
				<img class="card-img-top" src="../static/boarding.jpg">
				<div class="card-body">
					<h4 class="card-title">Boarding Houses</h4>
					
					<a href="#" class="btn btn-outline-secondary">Browse</a>
				</div>
			</div>
		</div>

	</div>
	<a href=""><button class="btn btn-outline-info btn-lg">Show More</button></a>
	</div>

</div>


</body>

<footer>
	<div class="container-fluid padding">
		<div class="row text-center">
			<div class="col-12">
				<hr class="light-100">
				<h5>&copy; Casa de Iligan</h5>
			</div>
		</div>
	</div>
</footer>

</html>